@*
*@
@{
    var name = "Ferdos Nurhusien";
    var studId = "101401294";
    var courseCode = "Comp2139";
   

}

<DOCTYPE html>
    <html>
    <head>
        <title></title>

    </head>
    <body>
        <h1>Welcome To Qatar Airline</h1>
        <p>Name:@name</p>
        <p>Student Id:@studId</p>
        <p>Course Code:@courseCode</p>
    </body>
</html>
</DOCTYPE>
