@model GBC_Travel_Group_76.Models.CarRent

<h1>Book Flight</h1>

<<div class="form-group">
    <label asp-for="Id">Flight Id:</label>
    <input asp-for="Id" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Model">Airline:</label>
    <input asp-for="Model" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="PickUpLocation">Pick Up Location:</label>
    <input asp-for="PickUpLocation" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="DropOffLocation">Drop Off Location:</label>
    <input asp-for="DropOffLocation" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Id"> PricePerDay:</label>
    <input asp-for="Id" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Price"> Price Per Day:</label>
    <input asp-for="Price" class="form-control" readonly />
</div>

<button type="submit" class="btn btn-primary">Confirm Booking</button>
