@model GBC_Travel_Group_76.Models.CarRentBooking

<h1>Edit Booking</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <div class="form-group">
        <label asp-for="CustomerName">Customer Name:</label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarModel"> Car Model:</label>
        <input asp-for="CarModel" class="form-control" />
        <span asp-validation-for="CarModel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label
</form>